node_modules
worker/
.next
.next*
dist
*.tsbuildinfo
out
.DS_Store
.env
.env.local
.dev.vars
.wrangler
.open-next
coverage
projects/*/out
projects/*/screens/.!*
projects/*/screens/*.png
packages/cli/assets
packages/cli/web
